In [1]:
import pandas as pd
import re
from dateutil.parser import parse
import datetime

In [20]:
gps = pd.read_csv("../assignment2/gps.csv", encoding='cp1252')

In [21]:
gps.shape

(685169, 4)

In [22]:
gps["Timestamp"] = gps.apply(lambda x:datetime.datetime.strptime(x["Timestamp"], '%m/%d/%Y %H:%M:%S').strftime('%m/%d/%Y %H:%M') , axis=1)

In [23]:
locations_by_minute = gps.groupby(["Timestamp","id"]).agg("mean").reset_index()
locations_by_minute["date"] = locations_by_minute.apply(lambda x:datetime.datetime.strptime(x["Timestamp"], '%m/%d/%Y %H:%M').strftime('%m/%d/%Y') , axis=1)

In [24]:
locations_by_minute

              Timestamp  id        lat       long        date
0      01/06/2014 06:28  35  36.074791  24.873310  01/06/2014
1      01/06/2014 06:29  35  36.071204  24.871683  01/06/2014
2      01/06/2014 06:30  35  36.067808  24.872183  01/06/2014
3      01/06/2014 06:33   4  36.076730  24.870998  01/06/2014
4      01/06/2014 06:33  35  36.067537  24.873311  01/06/2014
...                 ...  ..        ...        ...         ...
18792  01/19/2014 20:37  18  36.062023  24.898618  01/19/2014
18793  01/19/2014 20:37  24  36.059945  24.899694  01/19/2014
18794  01/19/2014 20:38  18  36.063314  24.896112  01/19/2014
18795  01/19/2014 20:38  24  36.061793  24.898635  01/19/2014
18796  01/19/2014 20:56  30  36.057235  24.902205  01/19/2014

[18797 rows x 5 columns]

In [25]:
locations_by_minute.to_csv("../data/locations_by_minute.csv")

In [4]:
loyalty = pd.read_csv("../assignment2/cc_data.csv", encoding='cp1252')

In [10]:
loyalty[loyalty["location"]=="Frydos Autosupply n' More"]
#loyalty["location"].value_counts()

,timestamp,location,price,FirstName,LastName
97,1/6/2014 19:50,Frydos Autosupply n' More,273.87,Elsa,Orilla
101,1/6/2014 20:12,Frydos Autosupply n' More,80.85,Dante,Coginian
104,1/6/2014 20:15,Frydos Autosupply n' More,175.87,Cornelia,Lais
117,1/6/2014 20:47,Frydos Autosupply n' More,149.30,Ruscella,Mies Haber
125,1/6/2014 21:23,Frydos Autosupply n' More,197.32,Adra,Nubarron
126,1/6/2014 21:32,Frydos Autosupply n' More,314.98,Marin,Onda
243,1/7/2014 20:20,Frydos Autosupply n' More,312.73,Felix,Resumir
363,1/8/2014 20:07,Frydos Autosupply n' More,214.07,Carla,Forluniau
368,1/8/2014 20:17,Frydos Autosupply n' More,182.56,Loreto,Bodrogi
372,1/8/2014 20:28,Frydos Autosupply n' More,268.89,Anda,Ribera
488,1/9/2014 19:32,Frydos Autosupply n' More,138.02,Varja,Lagos
500,1/9/2014 20:20,Frydos Autosupply n' More,31.24,Felix,Resumir
502,1/9/2014 20:21,Frydos Autosupply n' More,120.65,Gustav,Cazar
512,1/9/2014 20:45,Frydos Autosupply n' More,276.75,Loreto,Bodrogi
612,1/10/2014 18:57,Frydos Autosupply n' More,98.39,Nils,Calixto
619,1/10/2014 20:02,Frydos Autosupply n' More,43.65,Dante,Coginian
625,1/10/2014 20:15,Frydos Autosupply n' More,237.08,Sven,Flecha
660,1/11/2014 16:09,Frydos Autosupply n' More,52.73,Ingrid,Barranco
688,1/11/2014 20:13,Frydos Autosupply n' More,211.15,Ruscella,Mies Haber
690,1/11/2014 20:15,Frydos Autosupply n' More,114.98,Bertrand,Ovan
691,1/11/2014 20:22,Frydos Autosupply n' More,236.25,Emile,Arpa
694,1/11/2014 20:26,Frydos Autosupply n' More,261.00,Felix,Resumir
739,1/12/2014 19:52,Frydos Autosupply n' More,88.93,Cornelia,Lais
751,1/12/2014 20:43,Frydos Autosupply n' More,161.96,Dante,Coginian
842,1/13/2014 19:20,Frydos Autosupply n' More,10000.00,Lucas,Alcazar
845,1/13/2014 19:41,Frydos Autosupply n' More,188.57,Emile,Arpa
847,1/13/2014 19:59,Frydos Autosupply n' More,64.60,Linda,Lagos
869,1/13/2014 21:11,Frydos Autosupply n' More,202.05,Carla,Forluniau
987,1/14/2014 20:33,Frydos Autosupply n' More,42.72,Minke,Mies
991,1/14/2014 20:43,Frydos Autosupply n' More,146.74,Felix,Resumir
999,1/14/2014 21:28,Frydos Autosupply n' More,49.21,Mat,Bramar
1096,1/15/2014 19:52,Frydos Autosupply n' More,18.91,Isande,Borrasca
1104,1/15/2014 20:04,Frydos Autosupply n' More,235.27,Brand,Tempestad
1118,1/15/2014 20:33,Frydos Autosupply n' More,18.66,Lidelse,Dedos
1120,1/15/2014 20:57,Frydos Autosupply n' More,276.88,Mat,Bramar
1228,1/16/2014 19:45,Frydos Autosupply n' More,53.37,Lidelse,Dedos
1255,1/16/2014 20:54,Frydos Autosupply n' More,130.01,Mat,Bramar
1347,1/17/2014 19:57,Frydos Autosupply n' More,124.52,Mat,Bramar
1362,1/17/2014 20:41,Frydos Autosupply n' More,260.08,Isia,Vann
1369,1/17/2014 21:15,Frydos Autosupply n' More,67.29,Cornelia,Lais
1397,1/18/2014 15:31,Frydos Autosupply n' More,103.41,Cornelia,Lais
1399,1/18/2014 15:32,Frydos Autosupply n' More,361.54,Lidelse,Dedos
1402,1/18/2014 15:51,Frydos Autosupply n' More,103.55,Axel,Calzas
1403,1/18/2014 15:53,Frydos Autosupply n' More,120.67,Willem,Vasco-Pais
1406,1/18/2014 18:51,Frydos Autosupply n' More,234.53,Ruscella,Mies Haber
1461,1/19/2014 15:26,Frydos Autosupply n' More,56.09,Varja,Lagos
1464,1/19/2014 15:53,Frydos Autosupply n' More,209.76,Edvard,Vann
1473,1/19/2014 19:45,Frydos Autosupply n' More,98.04,Hennie,Osvaldo