In [1]:
import pandas as pd
lo_main = pd.read_csv("LO_BiggestSpendersFinal.csv")

In [40]:
lo_main["location"].unique()

array(['Abila Airport', 'Abila Scrapyard', 'Abila Zacharo',
       'Ahaggo Museum', "Albert's Fine Clothing", 'Bean There Done That',
       'Brewed Awakenings', "Brew've Been Served",
       'Carlyle Chemical Inc.', 'Chostus Hotel', 'Coffee Cameleon',
       'Coffee Shack', 'Desafio Golf Course', "Frank's Fuel",
       "Frydos Autosupply n' More", 'Gelatogalore', 'General Grocer',
       "Guy's Gyros", 'Hallowed Grounds', 'Hippokampos',
       "Jack's Magical Beans", 'Kalami Kafenion', 'Katerina’s Café',
       'Kronos Mart', 'Kronos Pipe and Irrigation',
       'Maximum Iron and Steel', 'Nationwide Refinery',
       "Octavio's Office Supplies", 'Ouzeri Elian', 'Roberts and Sons',
       "Shoppers' Delight", 'Stewart and Sons Fabrication', 'U-Pump'],
      dtype=object)

In [63]:
# pick csv
# join 
# check
# rewrite
name = "agglo_U-Pump.csv"
targetdf = pd.read_csv(name)
targetdf = pd.merge(targetdf, lo_main,  how='left', left_on=['date'], right_on=['date'])
targetdf = targetdf.drop(columns=["Unnamed: 0_x", "Unnamed: 0_y"])
targetdf = targetdf.loc[targetdf["location"] == "U-Pump"]
targetdf
targetdf.drop(columns=["location"])
targetdf.to_csv(name)
targetdf
#print(targetdf.columns)

,date,revenue,location,price,FirstName,LastName,CurrentEmploymentType,CurrentEmploymentTitle
22,1/6/2014,59.51,U-Pump,59.51,Varja,Lagos,Security,Badging Office

In [30]:
dates = ['1/6/2014', '1/7/2014', '1/8/2014', '1/9/2014', '1/10/2014',
       '1/11/2014', '1/12/2014', '1/13/2014', '1/14/2014', '1/15/2014',
       '1/16/2014', '1/17/2014', '1/18/2014', '1/19/2014']

In [31]:
dates

['1/6/2014',
 '1/7/2014',
 '1/8/2014',
 '1/9/2014',
 '1/10/2014',
 '1/11/2014',
 '1/12/2014',
 '1/13/2014',
 '1/14/2014',
 '1/15/2014',
 '1/16/2014',
 '1/17/2014',
 '1/18/2014',
 '1/19/2014']